#root {
  font-family: Optima;
  user-select: none;
}

.appDiv {
  height: 100vh;
}

.homeContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 80%;
  width: 100vw;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  width: 95%;
  height: 100%
}  

.headerContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: left;
}

.viewSelection {
  display:flex;
  padding: 10px;
}

.contentContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-evenly;
}


.itineraryContainer {
  height: 100vh;
  width: 60%;
  margin: 10px;
  overflow-y: scroll;
}

.mapContainer {
  height: 100vh;
  width: 40%;
  margin: 10px;
}

.googleMapContainer {
  height: 100%;
  margin: 10px;
  padding: 10px;
}

.googleMap {
  height: 100%;
  width: 100%;
}

.itineraryListHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.dayContainer {
  display:flex;
  flex-direction: column;
}

.dateHeading {
  display: flex;
  background-color: #abddd9;
  height: 30px;
  width:100%;
  align-items: center;
  padding: 5px;
  font-weight: 500;
  margin: 5px;
}

.activityCardContent {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.activityCard {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
}

.activityTime {
  padding: 5px;
}

.activityIcon {
  padding: 5px;
}

.activityDetails {
  padding: 5px;
}

.activityCardButtons {
  display: flex;
  padding: 5px;
}

.activityCardButton {
  margin: 1px;
}

.myTripsContainer {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.tripContainer {
  display: flex;
  flex-direction: column;
  margin: 20px;
  align-items: center;
}

.tripCard {
  width: 80vw;
  background-color: #ABDDD9;
  border-width: 1px;
  margin: 5px;
  border-radius: 0.5rem;
  padding: 5px;
  display: flex;
  justify-content: center;
}

.actButton {
  background-color: #abddd9;
  border-radius: 10px;
  /* box-shadow: rgba(44, 187, 99, 0.10) 0 1px 2px, rgba(44, 187, 99, 0.10) 0 2px 4px, rgba(44, 187, 99, 0.10) 0 4px 8px, rgba(44, 187, 99, 0.10) 0 8px 16px, rgba(44, 187, 99, 0.10) 0 16px 32px; */
  color: rgb(33, 33, 33);
  cursor: pointer;
  display: inline-block;
  font-family: Optima;
  padding: 4px 16px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 11px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.actButton:hover {
  box-shadow: rgba(132, 146, 214, 0.15) 0 1px 2px, rgba(132, 146, 214, 0.15) 0 2px 4px, rgba(132, 146, 214, 0.15) 0 4px 8px, rgba(132, 146, 214, 0.15) 0 8px 16px, rgba(132, 146, 214, 0.15) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}

.editNotes {
  display: flex;
  flex-direction: column;
}


