    
.navBar {    
    margin: 20px;
    display: flex;
    font-family: Optima;
    background-color: rgb(255, 255, 255);
  }
  
  .navContent {
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 100%;
  }
  
  .links {
    display: flex;
    justify-content: center;
    margin: 10px;

  }

  .link {
    margin: 0 10px;
    text-decoration: none;
    color: black;
    transition: transform 0.3s ease-in-out;
  }

  .link:hover,
  .link:visited {
    text-decoration: none;
    color: black;
    transform: scale(1.1); 
}

.logoutLink {
    position: absolute;
    top: 25px; 
    right: 60px; 
    font-size: smaller;
  }

  .myTripsLink {
    position: absolute;
    top: 45px; 
    right: 60px; 
    font-size: smaller;
  }